<!DOCTYPE html>
<html lang="en">
<%- include("inc/head") -%>
<body>

    <header>
    <div class="header">

      <div class="logo">
        <div class="logo-img"></div>
      </div>
      
      <div class="menu" id="menu-opener">
        <img class="menu-opener" src="assets/images/menu.png" alt="">
        <nav id="opener-mobile">
            <ul>
              <li  class="active"><a href="/">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>  
      </div>
    </div>
    </header>

    <main>
      <section class="banner">

        <div class="slides">
          <input type="radio" name="slide" id="slide1" checked>
          <input type="radio" name="slide" id="slide2">
          <input type="radio" name="slide" id="slide3">
      

        <div class="slide s1">
          <div class="slidearea">
            <h1>Desing is<br/><span>Communication</span></h1>
            <h2>Call Us: +0 00 1234 5678</h2>
            <a href="https://github.com/pickedluffy2000">GitHub PROJECTS</a>
           </div>
        </div>

        <div class="slide">
          <div class="slidearea">
            <h1>Desing<br/><span>Contact</span></h1>
            <h2>Call Us: +0 00 1234 5678</h2>
            <a href="/contact">Contact</a>
           </div>
        </div>

        <div class="slide">
          <div class="slidearea">
            <h1>Desing and About<br/><span>services</span></h1>
            <h2>Call Us: +0 00 1234 5678</h2>
            <a href="/services">Services</a>
           </div>
        </div>

        <div class="navigation-auto">
          <label class="bar1" for="slide1"></label>
          <label class="bar2" for="slide2"></label>
          <label class="bar3" for="slide3"></label>
        </div>

        <div class="navigation">
          <label class="bar1" for="slide1"></label>
          <label class="bar2" for="slide2"></label>
          <label class="bar3" for="slide3"></label>
  
        </div>
    </section>

        <section class="default light">
          <div class="section-title">About Us</div>
          <div class="section-desc">Who we are?</div>
          <div class="section-body">
            <div class="section-aboutus">
              <div class="section-aboutus--left" data-anime="left">
               <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Quam ipsam voluptatibus reiciendis unde dignissimos deleniti ullam 
                dolore eveniet, in, cupiditate rem quas quisquam asperiores repellendus 
                praesentium aliquid ad, nisi id. Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Obcaecati, qui! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero, natus?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, necessitatibus?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, eveniet?
              </p>
              </div>

              <div class="section-aboutus--right" data-anime="right">
                <img src="media/foto9.jpg" alt=""/>
              </div>
            </div>
          </div>
        </section>

        <section class="default dark">
          <div class="section-title">Services</div>
          <div class="section-desc">Services that we provide</div>
          <div class="section-body">
             <div class="section-services">
                <div class="section-service">
                  <img src="assets/images/medalha.png" alt=""/>
                    <h4>High Quality Desing</h4>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>

                <div class="section-service">
                  <img src="assets/images/estrela.png" alt=""/>
                    <h4>Modern Desing</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur..</p>
                </div>

                <div class="section-service">
                  <img src="assets/images/relogio.png" alt=""/>
                    <h4>High Quality Desing</h4>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>

                <div class="section-service">
                  <img src="assets/images/balao.png" alt=""/>
                    <h4>Fast and free support</h4>
                    <p>Lorem ipsum dolor sit amet dolor.</p>
                </div>
             </div>
          </div>
        </section>

        <section class="default light">
          <div class="section-title">Our projects</div>
          <div class="section-desc">What we create</div>
          <div class="section-body">
            <div class="section-projects">
              <div class="section-projects--filters"  id="projects-filters">
                 <ul data-anime="right">                  
                    <li class="active">Photos</li>
                 </ul>
              </div>

              <div class="section-projects--photos">
                <div class="section-projects--photo" data-anime="right">
                  <div class="section-projects--photoarea">
                    <div class="section-projects--photoinfo">
                      <h5>About</h5>
                      <p>Lorem ipsum dolor sit.</p>
                    </div>
                    <img src="media/foto1.jpg" alt="" />
                  </div>
                </div>

                <div class="section-projects--photo" data-anime="right">
                  <div class="section-projects--photoarea">
                    <div class="section-projects--photoinfo">
                      <h5>About</h5>
                      <p>Lorem ipsum dolor sit.</p>
                    </div>
                    <img src="media/foto2.jpg" alt="" />
                  </div>
                </div>

                <div class="section-projects--photo" data-anime="right">
                  <div class="section-projects--photoarea">
                    <div class="section-projects--photoinfo">
                      <h5>About</h5>
                      <p>Lorem ipsum dolor sit.</p>
                    </div>
                    <img src="media/foto3.jpg" alt="" />
                  </div>
                </div>

                <div class="section-projects--photo" data-anime="right">
                  <div class="section-projects--photoarea">
                    <div class="section-projects--photoinfo">
                      <h5>About</h5>
                      <p>Lorem ipsum dolor sit.</p>
                    </div>
                    <img src="media/foto4.jpg" alt="" />
                  </div>
                </div>

                <div class="section-projects--photo" data-anime="right">
                  <div class="section-projects--photoarea">
                    <div class="section-projects--photoinfo">
                      <h5>About</h5>
                      <p>Lorem ipsum dolor sit.</p>
                    </div>
                    <img src="media/foto5.jpg" alt="" />
                  </div>
                </div>

                <div class="section-projects--photo" data-anime="right">
                  <div class="section-projects--photoarea">
                    <div class="section-projects--photoinfo">
                      <h5>About</h5>
                      <p>Lorem ipsum dolor sit.</p>
                    </div>
                    <img src="media/foto6.jpg" alt="" />
                  </div>
                </div>

                <div class="section-projects--photo" data-anime="left">
                  <div class="section-projects--photoarea">
                    <div class="section-projects--photoinfo">
                      <h5>About</h5>
                      <p>Lorem ipsum dolor sit.</p>
                    </div>
                    <img src="media/foto1.jpg" alt="" />
                  </div>
                </div>

                <div class="section-projects--photo" data-anime="left">
                  <div class="section-projects--photoarea">
                    <div class="section-projects--photoinfo">
                      <h5>About</h5>
                      <p>Lorem ipsum dolor sit.</p>
                    </div>
                    <img src="media/foto2.jpg" alt="" />
                  </div>
                </div>

                <div class="section-projects--photo" data-anime="left">
                  <div class="section-projects--photoarea">
                    <div class="section-projects--photoinfo">
                      <h5>About</h5>
                      <p>Lorem ipsum dolor sit.</p>
                    </div>
                    <img src="media/foto3.jpg" alt="" />
                  </div>
                </div>

                <div class="section-projects--photo" data-anime="left">
                  <div class="section-projects--photoarea">
                    <div class="section-projects--photoinfo">
                      <h5>About</h5>
                      <p>Lorem ipsum dolor sit.</p>
                    </div>
                    <img src="media/foto4.jpg" alt="" />
                  </div>
                </div>

                <div class="section-projects--photo" data-anime="left">
                  <div class="section-projects--photoarea">
                    <div class="section-projects--photoinfo">
                      <h5>About</h5>
                      <p>Lorem ipsum dolor sit.</p>
                    </div>
                    <img src="media/foto5.jpg" alt="" />
                  </div>
                </div>

                <div class="section-projects--photo" data-anime="left">
                  <div class="section-projects--photoarea">
                    <div class="section-projects--photoinfo">
                      <h5>About</h5>
                      <p>Lorem ipsum dolor sit.</p>
                    </div>
                    <img src="media/foto6.jpg" alt="" />
                  </div>
                </div>
                    <a href="https://github.com/pickedluffy2000">GitHub PROJECTS</a>
              </div>
            </div>
          </div>
        </section>

        <section class="default dark bg-team">
          <div class="section-team-area">
          <div class="section-title">Our Team</div>
          <div class="section-desc">Our Co-Workers</div>
          <div class="section-body">
             <div class="section-team">
              <div class="sliders" style="margin-left:0 ;">

                <div class="slide" data-anime="left">
                   <div class="slidearea">
                        <img class="section-team--avatar" src="media/mulher1.png" alt="">
                        <div class="section-team--name">JANE DOE</div>
                        <div class="section-team--role">Master mind</div>
                        <div class="section-team--social">
                          <a href="https://www.facebook.com/mateuswinshester100/"><img src="assets/images/facebook.png" alt=""></a>
                          <a href=""><img src="assets/images/googleplus.png" alt=""></a>
                          <a href=""><img src="assets/images/linkedin.png" alt=""></a>
                          <a href=""><img src="assets/images/pinterest.png" alt=""></a>
                            <a href=""><img src="assets/images/twitter.png" alt=""></a>
                        </div>
                   </div>
                </div>
                
                <div class="slide">
                  <div class="slidearea">
                    <img class="section-team--avatar" src="media/homem1.png" alt="">
                    <div class="section-team--name">MIKE CHILLER</div>
                    <div class="section-team--role">Creative Head</div>
                    <div class="section-team--social">
                      <a href=""><img src="assets/images/facebook.png" alt=""></a>
                      <a href=""><img src="assets/images/googleplus.png" alt=""></a>
                      <a href=""><img src="assets/images/linkedin.png" alt=""></a>
                      <a href=""><img src="assets/images/pinterest.png" alt=""></a>
                        <a href=""><img src="assets/images/twitter.png" alt=""></a>
                    </div>
               </div>
                </div>

                  <div class="slide" data-anime="left">
                    <div class="slidearea">
                      <img class="section-team--avatar" src="media/mulher2.png" alt="">
                      <div class="section-team--name">ANNA JHONS</div>
                      <div class="section-team--role">Thechnical Lead</div>
                      <div class="section-team--social">
                        <a href=""><img src="assets/images/facebook.png" alt=""></a>
                        <a href=""><img src="assets/images/googleplus.png" alt=""></a>
                        <a href=""><img src="assets/images/linkedin.png" alt=""></a>
                        <a href=""><img src="assets/images/pinterest.png" alt=""></a>
                          <a href=""><img src="assets/images/twitter.png" alt=""></a>
                      </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="default light testimonials">
          <div class="section-title">Happy Clients</div>
          <div class="section-desc">Client Reviews</div>
          <div class="section-body">
              <div class="section-testimonials">
                  <div class="sliders" style="margin-left:0;">
                      <div class="slide">
                          <div class="slidearea">
                              <img class="section-testimonials--avatar" src="media/homem2.png" />
                              <div class="section-testimonials--name">John Doe</div>
                              <div class="section-testimonials--role">Head of PR Department</div>
                              <img class="section-testimonials--quoteimg" src="assets/images/quote.png" />
                              <div class="section-testimonials--quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel eros vitae erat condimentum viverra a nec lacus. Maecenas eros lectus, rhoncus vel dictum vel, dignissim eget ligula. Vestibulum id tempus quam, sed pellentesque quam.</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>

      <section class="default section-companies">
        <div class="section-body">
            <div class="section-companies--area">
                <div class="section-company">
                    <img src="media/empresa1.png" />
                </div>
                <div class="section-company">
                    <img src="media/empresa2.png" />
                </div>
                <div class="section-company">
                    <img src="media/empresa3.png" />
                </div>
                <div class="section-company">
                    <img src="media/empresa4.png" />
                </div>
                <div class="section-company">
                    <img src="media/empresa5.png" />
                </div>
                <div class="section-company">
                    <img src="media/empresa6.png" />
                </div>
            </div>
        </div>
    </section>

    <section class="default light">
      <div class="section-title">Price</div>
      <div class="section-desc">Pricing Table</div>
      <div class="section-body">
          <div class="section-price">

                  <% menus.forEach(function(row){ %>
                  <div class="section-price--item">
                      <div class="section-price--item-name"><%= row.title %></div>
                      <div class="section-price--item-money"><%= row.price %></div>
                      <div class="section-price--item-period">/ month</div>
                      <div class="section-price--item-point">Tracking issues<br/>--</div>
                      <div class="section-price--item-point">Tracking issues<br/>--</div>
                      <div class="section-price--item-point">Tracking issues<br/>--</div>
                      <div class="section-price--item-point">Tracking issues<br/>--</div>
                      <a href="" class="button button--dark">Choose</a>
                  </div>
                  <% }); %>
                 
          </div>
      </div>
  </section>

  <section class="default light premium">
    
    <div class="section-title">Premium</div>
    <div class="section-desc">Even More Features Available</div>
    <div class="section-body">
    <div class="section-premium">
        <div class="sliders" style="margin-left:0;">
            <div class="slide">
                <div class="slidearea">
                    <div class="section-premium--left">
                        <img src="media/livros.png" />
                    </div>
                    <div class="section-premium--right">
                            <div class="section-premium--item">
                                <img src="assets/images/check.png" />
                                <div>
                                    <h4>FIRST FEATURE</h4>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel eros vitae erat condimentum viverra a nec lacus.<br/>
                                    -- FEATURE ONE<br/>
                                    -- FEATURE TWO<br/>
                                    -- FEATURE THREE
                                </div>
                            </div>
                            <div class="section-premium--item">
                                <img src="assets/images/check.png" />
                                <div>
                                    <h4>SECOND FEATURE</h4>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel eros vitae erat condimentum viverra a nec lacus.
                                </div>
                            </div>
                            <div class="section-premium--item">
                                <img src="assets/images/check.png" />
                                <div>
                                    <h4>THIRD FEATURE</h4>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel eros vitae erat condimentum viverra a nec lacus.
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<section class="default dark">
  <div class="section-title">Some Facts</div>
  <div class="section-desc">About our work</div>
  <div class="section-body">
      <div class="section-facts">
          <div class="section-fact">
              <h3>1000</h3>
              <div class="section-fact-line"></div>
              <h4>Design Projects Released</h4>
              <p>Donec tincidunt cursus</p>
          </div>
          <div class="section-fact">
              <h3>900</h3>
              <div class="section-fact-line"></div>
              <h4>Photos</h4>
              <p>Morbi ex felis, tincidunt sed hendrerit</p>
          </div>
          <div class="section-fact">
              <h3>500</h3>
              <div class="section-fact-line"></div>
              <h4>Marketing Ideas</h4>
              <p>Donec tincidunt cursus</p>
          </div>
          <div class="section-fact">
              <h3>100</h3>
              <div class="section-fact-line"></div>
              <h4>Exhibitions</h4>
              <p>Morbi ex felis, tincidunt sed</p>
          </div>
      </div>
  </div>
</section>

<section class="section-share">
  <div class="section-share--legend">
      <img src="assets/images/share.png" />
      Tell About Us:
  </div>
  <div class="section-share--item">
      <div class="section-share--icon twitter">
          <img src="assets/images/twitter.png" />
      </div>
      152
  </div>
  <div class="section-share--item">
      <div class="section-share--icon linkedin">
          <img src="assets/images/linkedin.png" />
      </div>
      152
  </div>
  <div class="section-share--item">
      <div class="section-share--icon facebook">
          <img src="assets/images/facebook.png" />
      </div>
      152
  </div>
  <div class="section-share--item">
      <div class="section-share--icon googleplus">
          <img src="assets/images/googleplus.png" />
      </div>
      152
  </div>
  <div class="section-share--item">
      <div class="section-share--icon pinterest">
          <img src="assets/images/pinterest.png" />
      </div>
      152
  </div>
</section>

<section class="default light" data-anime="right">
  <div class="section-title">Contact Us</div>
  <div class="section-desc">Our Agency Located in Melbourne, Australia</div>
  <div class="section-body">
      <div class="section-contact">
          <form action="/contact" method="post">
            <% if (typeof error === "string") {%> 
              <div class="alert alert-danger">
                <%= error %>
              </div>
              <% } %>

              <% if (typeof success === "string") {%> 
                <div class="alert alert-success">
                  <%= success %>
                </div>
                <% } %>
              <div class="section-contact--split"> 
                  <input type="text" name="name" placeholder="NOME" />
                  <input type="text" name="email" placeholder="EMAIL" />
              </div>        
              <textarea name="message" placeholder="MESSAGE"></textarea>
              <input type="submit" value="Send Message" class="button" />
          </form>
      </div>
  </div>
</section>

<section class="section-map">
  <div class="section-map--area">
      <div class="section-map--info">
              <div class="section-map--info-item">
                  <div class="section-map--info-item-img">
                      <img src="assets/images/carta.png" />
                  </div>
                  Endereço completão que irá ter algum tamanho
              </div>
              <div class="section-map--info-item">
                  <div class="section-map--info-item-img">
                      <img src="assets/images/localizacao.png" />
                  </div>
                  Endereço completão que irá ter algum tamanho
              </div>
              <div class="section-map--info-item">
                  <div class="section-map--info-item-img">
                      <img src="assets/images/telefone.png" />
                  </div>
                  Endereço completão que irá ter algum tamanho
              </div>
              <div class="section-map--info-item">
                  <div class="section-map--info-item-img">
                      <img src="assets/images/arroba.png" />
                  </div>
                  Endereço completão que irá ter algum tamanho
              </div>
              <div class="section-map--info-item">
                  <div class="section-map--info-item-img">
                      <img src="assets/images/web.png" />
                  </div>
                  Endereço completão que irá ter algum tamanho
              </div>
      </div>
  </div>
</section>

    </main>

    
      <footer>
        <div class="main">
          <div class="footer-links">
            <div class="footer-company">
              <h4>Credits for layout</h4>
              <h6>Alexander Bukin</h6>
            </div>
            
            <div class="footer-social">
              <h4>Stay connected</h4>
              <div class="social-icons">
                <a href=""><img src="assets/images/twitter.png" alt=""></a>
                <a href="https://www.facebook.com/mateuswinshester100/"><img src="assets/images/facebook.png" alt=""></a>
              </div>
            </div>
            <div class="footer-contact">
              <h4>Contact Us</h4>
              <h6>+ 55 21 994048385</h6>
              <h6>mateus.r2000@gmail.com</h6>
              <h6>Rua soares d'Andreia, Rio de janeiro</h6>
            </div>
          </div>
        </div>
        <div class="last">DevMateus 2022 - Use like you want</div>
      </footer>

      <script src="/js/utils/Format.js"></script>
      <script src="/js/controller/AwaxController.js"></script>
      <script src="/js/app.js"></script>
    
    
</body>
</html>